
@{
    ViewData["Title"] = "Index";
}

<center><h1>Mapa da cidade de <b>Ilhabela</b></h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58403.059303078684!2d-45.407896653228896!3d-23.81179888805269!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94d299a1e1b58951%3A0xdb1cb1ae3f4ba322!2sIlhabela%2C%20SP!5e0!3m2!1spt-BR!2sbr!4v1726686350630!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</center>
<style>
    body {
        background-color: #5685B1;
    }

    h1{
        color: white;
    }

    b{
        color: #05335E;
    }
</style>